# MacOS directory files
.DS_Store

# VIM files
*.swp
*.swo

# cache dir
.cache/

# ESP-IDF default build directory name
build
sdkconfig.old

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
test_api/tests/__pycache__
test_api/MangDang/mini_pupper/__pycache__
test_api/.eggs/
Python_Module/.eggs/
Python_Module/MangDang/mini_pupper/__pycache__
Python_Module/MangDang.egg-info/
.pytest_cache
